
/* my stuff starts below */

#page-container {
  margin: 0 auto;
  width: 1000px;
}

#player-container {
  /*background-color: red;*/
  float: left; 
}

#related-container {
  /* background-color: blue; */
  float: left;
  width: 30%;
  margin-left: 10px;
  
}

#video-title{
  font-size: 24px;
}

#comments{
  font-size: 13px;
}

/* styles for comments */
.comment {
  clear: both;
}

.avatar {
  float:left;
}

.commenter-name {
  float:left;
  color: #167AC6;
  font-size: 13px;
  font-weight: Bold;
}

.comment-date {
  color: #333;
  font-size: 11px;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.comment-content {
  font-size: 15px;
}

#add-comment {
  width: 640px;
}

/*
.commenter-name {
  color: #167AC6;
  font-size: 13px;
  font-weight: Bold;
}

.comment-date {
  color: #333;
  font-size: 11px;
}

.comment-content {
  font-size: 13px;
  background-color: blue;
}
*/


/* style for the advertisement */
#ads {
  height: 265px;
  font: 15px arial, sans-serif;
  color: red;
  border: 10px solid red;
  text-align: center;
}

/* style for the related content */
.thumbnail {
  float:left;
}

.related {
  clear: both;
}

.thumb-title {
  color: #333;
  font-size:  13px;
  font-weight: Bold;
}

.thumb-author {
  color: #333;
  font-size:  11px;
}

.thumb-views {
  color: #333;
  font-size:  11px;
}





*{ 
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif
} 
